extends layout_admin_home

block content
  .modal(id="display")
  .side-bar
    img.profile(src='/images/user_assets/profile.png', alt='Profile', height='40pw', width='40pw' id="dropdown-btn")
    img.logout(src='/images/user_assets/logout.png' alt='LogOut'  height='35pw', width='35pw')
  .content
    .tituloReservar
      h1.reservar Preencha as Refeições!
      h1.mes #[b.dias #{startOfWeek.date()}] #{startOfWeek.format('MMMM')} - #[b.dias #{endOfWeek.date()}] #{endOfWeek.format('MMMM')}
    .w3-middle
      table.w3-table.w3-centered
        tr.w3-border-bottom.w3-margin
          th 
          th SEGUNDA
          th TERÇA
          th QUARTA
          th QUINTA
          th SEXTA
        tr
          th.refeicao ALMOÇO
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
        tr
          th.refeicao JANTAR
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
          td.square(onclick='selectDay(this)') Sem Informação
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') ADICIONAR]
    