extends layout

block content
  link(rel='stylesheet', href='/stylesheets/buy.css')
  script(src="/javascripts/buy.js")
  body
    .modal(id="display")
    #numberSenhas.senhas= user.senhas
        img.senha-img(src='/images/user_assets/senha.png', alt='Senha', height='40pw', width='40pw')
    include navbar.pug
    .content
      h1.tituloComprar.w3-padding Comprar senhas
      .w3-row
        .w3-col.w3-half
          .w3-card-4.borda
            h2.nrsenhas 1x#[img.senha-img(src='/images/user_assets/senha.png', alt='Senha', height='50pw', width='50pw')]
            p.nrsenhas#preco1 2.70€
            .quantity-wrapper
              label(for='quantity') Quantidade:
              select#quantity.small-dropdown(onchange='multprice1(this.value)')
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
                option(value='7') 7
                option(value='8') 8
                option(value='9') 9
            .comprar-btn(onclick='addsenhas("'+user.username+'",0)') Comprar
        .w3-col.w3-half
          .w3-card-4.borda
            h2.nrsenhas 10x#[img.senha-img(src='/images/user_assets/senha.png', alt='Senha', height='50pw', width='50pw')]
            p.nrsenhas#preco2 25€
            .quantity-wrapper
              label(for='quantity') Quantidade:
              select#quantity.small-dropdown(onchange='multprice2(this.value)')
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
                option(value='7') 7
                option(value='8') 8
                option(value='9') 9
            .comprar-btn(onclick='addsenhas("'+user.username+'",1)') Comprar
    include footer.pug