extends layout

block content
  link(rel='stylesheet', href='/stylesheets/buy.css')
  script(src="javascripts/buy.js")
  body
    .modal(id="display")
    .senhas 25
        img.senha-img(src='/images/user_assets/senha.png', alt='Senha', height='40pw', width='40pw')
    include navbar.pug
    .content
      h1.tituloComprar.w3-padding Comprar senhas
      .w3-row
        .w3-col.w3-half
          .w3-card-4.borda
            h2.nrsenhas 1x#[img.senha-img(src='/images/user_assets/senha.png', alt='Senha', height='50pw', width='50pw')]
            p.nrsenhas 2.70€
            .comprar-btn(onclick='showPayment()') Comprar
        .w3-col.w3-half
          .w3-card-4.borda
            h2.nrsenhas 10x#[img.senha-img(src='/images/user_assets/senha.png', alt='Senha', height='50pw', width='50pw')]
            p.nrsenhas 25€
            .comprar-btn(onclick='showContent()') Comprar
    include footer.pug

