extends layout

block content
  link(rel='stylesheet', href='/stylesheets/error.css')
  body
    .homepage 
      .homeimage 
      .error
        div(style="padding:150px;")
          h1=message
            h2= error.status
            pre #{error.stack}
