.separacaofooter
    .p.bloco.w3-padding Departamento Alimentar
        .p.leftpadding Telefone: 253 601 482
        .p.leftpadding Email: eliana.barros@sas.uminho.pt
    .p.bloco.w3-padding Serviços Administrativos
      .leftpadding.p Telefone: 253 604790
      .leftpadding.p Fax: 253 601 489 
      .leftpadding.p Email: da@sas.uminho.pt 
    .p.bloco.w3-padding Cantina
      .leftpadding.p Telefone: 253 604 792
    .p.bloco.w3-padding Equipa de Desenvolvimento
      .p.leftpadding Telemóvel: 933958277
      .p.leftpadding Telemóvel: 916678232