extends layout_home

block content
  .modal(id="display")
  .plus-box +
  .senhas 25
  .side-bar
    img.profile(src='/images/user_assets/profile.png', alt='Profile', height='40pw', width='40pw' id="dropdown-btn")
    img.logout(src='/images/user_assets/logout.png' alt='LogOut'  height='35pw', width='35pw')
  .content
    .tituloReservar
      h1.reservar Reserve as suas refeições!
      h1.mes #[b.dias 1-7] ABRIL
    .w3-middle
      table.w3-table.w3-centered
        tr.w3-border-bottom.w3-margin
          th 
          th SEGUNDA
          th TERÇA
          th QUARTA
          th QUINTA
          th SEXTA
        tr
          th.refeicao ALMOÇO
          td.square(onclick='selectDay(this)') Peito de peru assado
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') DETALHES]
          td.square(onclick='selectDay(this)') Massa bolonhesa
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') DETALHES]
          td.square(onclick='selectDay(this)') Pescada gratinada
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') DETALHES]
          td.square(onclick='selectDay(this)') Frango assado
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') DETALHES]
          td.square(onclick='selectDay(this)') Cenoura BABYYY
            p.info.w3-display-bottommiddle #[a(href="#" onclick='showContent("Peito de peru")') DETALHES]
        tr
          th.refeicao JANTAR
          td.square(onclick='selectDay(this)') Febras de porco com cebolada
            p.info.w3-display-bottommiddle #[a(href="#") DETALHES]
          td.square(onclick='selectDay(this)') Redfish no forno com cebolada
            p.info.w3-display-bottommiddle #[a(href="#") DETALHES]
          td.square(onclick='selectDay(this)') Espetada de peru grelhada
            p.info.w3-display-bottommiddle #[a(href="#") DETALHES]
          td.square(onclick='selectDay(this)') Abrotea assada
            p.info.w3-display-bottommiddle #[a(href="#") DETALHES]
          td.square(onclick='selectDay(this)') Massa salteada com cenoura e couve branca
            p.info.w3-display-bottommiddle #[a(href="#") DETALHES]
    .reservar-btn(onclick='reservou()') Reservar