extends layout_home

block content
  .side-bar
    img.profile(src='/images/user_assets/profile.png', alt='Profile', height='50px', width='50px' id="dropdown-btn")
    img.logout(src='/images/user_assets/logout.png' alt='LogOut'  height='50px', width='50px')
  .content
    h1.reservar Reserve os dias que deseje
    .w3-middle
      table.w3-table.w3-bordered.w3-padding.w3-centered
        tr
          th 
          th Segunda
          th Terça
          th Quarta
          th Quinta
          th Sexta
        tr
          th Almoço
          td.square Peito de peru assado
            button.info-btn Ver Mais
          td.square Massa bolonhesa
            button.info-btn Ver Mais
          td.square Pescada gratinada
            button.info-btn Ver Mais
          td.square Frango assado
            button.info-btn Ver Mais
          td.square Cenoura BABYYY
            button.info-btn Ver Mais
        tr
          th Jantar
          td.square Febras de porco com cebolada
            button.info-btn Ver Mais
          td.square Redfish no forno com cebolada
            button.info-btn Ver Mais
          td.square Espetada de peru grelhada
            button.info-btn Ver Mais
          td.square Abrotea assada
            button.info-btn Ver Mais
          td.square Massa salteada com cenoura e couve branca
            button.info-btn Ver Mais
    .reservar-btn Reservar