extends layout_home

block content
  .top-bar
    .left-box
      .number-box 25 #[img(src='/images/user_assets/senha.png', alt='Image', height='20px')]
        .plus-box +
    .middle-box Cantina
    .right-box
      img(src='/images/user_assets/profile.png', alt='Profile', height='50px', width='50px' id="dropdown-btn")
      .dropdown-menu
        a(href='#') Editar Perfil
        a(href='#') As Minhas Reservas
        a.w3-text-red(href='#') Log Out

  