doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/jquery.modal.min.css')
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/jquery.modal.min.js")
    script(src="javascripts/home.js")
    meta(property="og:title" content="Home")
    meta(charset="utf-8")
  body
    block content
