doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    meta(property="og:title" content="Login")
    meta(charset="utf-8")
  body
    block content
