doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    meta(property="og:title" content="Home")
    meta(charset="utf-8")
  body
    block content
