.side-bar
    img.home(src='/images/user_assets/home.png', alt='Home', height='43pw', width='43pw' id="dropdown-btn")
    img.profile(src='/images/user_assets/profile.png', alt='Profile', height='40pw', width='40pw' id="dropdown-btn") 
    img.logout(src='/images/user_assets/logout.png' alt='LogOut'  height='35pw', width='35pw')