.side-bar
  img.home(src='/images/user_assets/home.png', alt='Home', height='43pw', width='43pw', id="dropdown-btn", onclick='myredirect("adminhome")')
  img.profile(src='/images/user_assets/addperson.png', alt='Profile', height='40pw', width='40pw', id="dropdown-btn", onclick='myredirect("form")')
  img.logout(src='/images/user_assets/logout.png', alt='LogOut', height='35pw', width='35pw', onclick='myredirect("logout")')
