doctype html
html
  head
    title Perfil de #{name}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/profile.css') 
    meta(property="og:title" content="Profile")
    meta(charset="utf-8")
  body
    block content
      include navbar.pug
      .row.no-guetters 
        .leftside.col
          .title 
            //- depois por a path guardada de cada user
            img.profile-image(src='/images/user_assets/profile.png', alt='Profile Image')
            label(style='color: #80171B; text-decoration: underline' for="image") Alterar foto de perfil
            //- h1= name
            h1 (Nome do Usuário)
          .content
            //- por os parâmetros de cada user como value de cada label
            form
              .form-field
                label(for="email") Email:
                input(type="text" id="email" name="email" value=email readonly)
              .form-field
                label(for="name") Nome do Usuário:
                input(type="text" id="name" name="name" value=name)
              .form-field
                label(for="phone") Contacto:
                input(type="text" id="phone" name="phone" value=phone)
              button(type="submit") Save Changes
        .rightside.col
          .reservations
            h1 As tuas reservas!
            .table-responsive
              table.table.table-hover
                thead
                  tr
                    th Data
                    th Refeição
                    th Tipo
                tbody
                  tr
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano