doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/profil.css')
    meta(property="og:title" content="Profile")
    meta(charset="utf-8")
  body
    block content
      .side-bar
        img.profile(src='/images/user_assets/home.png', alt='Home', height='40pw', width='40pw' id="dropdown-btn")
        img.logout(src='/images/user_assets/logout.png' alt='LogOut'  height='35pw', width='35pw')