extends layout
block content
  link(rel='stylesheet', href='/stylesheets/profile.css')
  script(src="javascripts/profile.js")
  body
    block content
      include navbar.pug
      .row.no-guetters 
        .leftside.col
          .title 
            //- depois por a path guardada de cada user
            img.profile-image(src='/images/user_assets/profile.png', alt='Profile Image')
            label(for="image" class="upload-button")
              span Upload Image
              input(type="file" id="image" name="image")
            //- h1= name
            h1 (Nome do Usuário)
          .content
            //- por os parâmetros de cada user como value de cada label
            form
              .form-field
                label(for="email") Email:
                input(type="text" id="email" name="email" value=email readonly)
              .form-field
                label(for="name") Nome do Usuário:
                input(type="text" id="name" name="name" value=name)
              .form-field
                label(for="phone") Contacto:
                input(type="text" id="phone" name="phone" value=phone)
              button(type="submit") Save Changes
        .rightside.col
          .reservations
            h1 As tuas reservas!
            .table-responsive
              table.table.table-hover
                thead
                  tr
                    th Data
                    th Refeição
                    th Tipo
                tbody
                  tr
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano
                  tr 
                    td 24-07-2023
                    td almoço
                    td vegetariano