.side-bar {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #c12d2f;
  padding: 50 0px;
  width: 7vh;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 50px;
}

.reservar{
  color: #c12d2f;
  text-decoration:double;
  font-weight: bold;
  padding-bottom: 7vh;
}
.profile{
  margin: 2vh;
}
.logout{
  position: absolute;
  bottom:0;
  margin: 2vh;
}

.square {
  position: relative;
  height: 25vh;
  overflow: hidden;
  transition: background-color 0.7s;
}
.square:hover{
  background-color: #ededed;
}

.reservar-btn{
  padding: 8px 16px;
  background-color: #ffffff;
  color: #c12d2f;
  border: 2px solid #c12d2f;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 1s;
  text-align: center;
  width: 10%;
  border-radius: 7px;
  margin: 0 auto;
  margin-top: 7vh;
  
}

.reservar-btn:hover{
  background-color: #c12d2f;
  color: white;

}

.info-btn {
  background-color: #ffffff;
  color: #c12d2f;
  border: 2px solid #c12d2f;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px auto;
  padding: 5px;
  width: 10vw;
  transition: background-color 1s;
}


.info-btn:hover{
  background-color: #c12d2f;
  color: white;

}
.foodinfo{
  justify-content: center;
  text-align: center;
  margin: 6px;  
  padding: 6px;
}
table{
  width: 100%;
}
th{
  margin: auto !important;
  text-align: center !important;
  vertical-align: middle !important;
}
td{
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 10px;
}

table{
  flex:1;
}