.top-bar {
  display: flex;
  align-items: center;
  background-color: #c12d2f;
  height: 80px;
  padding: 0 50px;
}


.left-box {
  display: flex;
  align-items: center;

}

.number-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c12d2f;
  border: 2px solid white;
  border-radius: 30px;
  color: white;
  width: 180px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 15px;
}


.plus-box {
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #c12d2f;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}

.plus-box:hover {
  background-color: #c12d2f;
  color: white;
  border: 2px solid white;
}



.middle-box {
  font-size: 34px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  color: white;
  margin: auto;
}

.right-box {
  display: flex;
  margin-left: 130px;
}  


.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.homepage {
  display: flex;
  height: 25vh;
}

.homeimage {
  flex: 1;
  background-image: url('/images/user_assets/comida1.png');
  background-size: cover;
  background-position: center;
}


.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
  padding: 5px;
}
.hcol {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 10%;
  margin-left:2%;
  padding: 2px;
}

h3 {
  margin: 0;
}

.square {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  overflow: hidden;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  position: relative;
}
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkmark::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid white;
}

.checkmark.checked::before {
  content: '\2713';
}

.reservar-btn{
  padding: 8px 16px;
  background-color: #ffffff;
  color: #c12d2f;
  border: 2px solid #c12d2f;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 1s;
  text-align: center;
  width: 10%;
  border-radius: 7px;
  margin: 0 auto;
}

.reservar-btn:hover{
  background-color: #c12d2f;
  color: white;

}