* {
    font-family: 'Playfair Display', sans-serif;
    color: #181818;
    margin: 0;
    padding: 0;
  }
  
  .side-bar {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #80171B;
    padding: 50 0px;
    width: 7vh;
    height: 100vh;
  }
  
  .home {
    margin-top: 2vh;
    margin-bottom: 1.7vh;
  }
  
  .logout {
    position: absolute;
    bottom: 0;
    margin: 2vh;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #F7F7F7;
    margin-bottom: 10px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #181818;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #c12d2f;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 5px;
  }